/* Imports */
@use './variables/fonts';
@use './variables/colours';
@use './animations';

/* Variables */
$content-width: 75%;

/* Styles */
html,
body {
	background-color: colours.$bg0;
	color: colours.$primary0;
	font-family: fonts.$dm-sans;

	p {
		line-height: 1.25;
	}

}

nav#navigation {
	// position: sticky;
	z-index: 10;
	top: 0;
	padding-top: 30px;
	position: absolute;
	right: 0;

	ul {
		display: flex;
		justify-content: flex-end;
		right: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			display: inline-block;
			margin-right: 5vw;
			font-size: 1.75rem;
			text-decoration: underline;
			text-decoration-color: transparent;
			text-decoration-thickness: 2px;

			&.navitem {
				font-family: fonts.$staatliches;

				transition: all 0.3s;

				&:hover {
					color: colours.$primary2;
					transform: translateY(-3px);
					text-decoration-color: colours.$primary2;
				}
			}
		}
	}
}

div#banner {
	width: $content-width;
	margin: auto;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	#banner-left {
		margin: auto 0;
		width: 60%;

		#intro {
			font-family: fonts.$oxygen-mono;
			font-size: 1.5rem;
			color: colours.$secondary;
			margin: 0;
		}

		#name-container {
			font-family: fonts.$staatliches;
			font-size: 6rem;
			color: colours.$primary2;
			position: relative;
			margin: 10px 0;

			&:hover>.glitch {
				&:nth-of-type(1) {
					animation: glitch-effect 0.75s infinite steps(4);
				}

				&:nth-of-type(2) {
					animation: glitch-effect-opp 0.75s infinite steps(4);
				}
			}

			.name {
				margin: 0;
				position: relative;

				&.glitch {
					position: absolute;
					top: 0;
					left: 0;

					&:nth-of-type(1) {
						color: #2097df;
					}

					&:nth-of-type(2) {
						color: #df2097;
					}
				}
			}
		}

		#subtitle {
			font-family: fonts.$staatliches;
			color: colours.$secondary;
			font-size: 1.5rem;
			margin-top: 0;
			margin-bottom: 20px;
		}

		#icons-container {
			display: flex;
			stroke: colours.$secondary;

			.icons {
				cursor: pointer;
				margin-right: 15px;

				&:hover {
					stroke: colours.$primary1;
				}
			}
		}
	}

	#banner-right {
		position: relative;
		width: 450px;
		height: 450px;

		* {
			width: 100%;
			height: 100%;
		}

		#banner-img-under {
			position: absolute;
			top: 0;
			left: 0;

			&:hover~#banner-img-over {
				clip-path: circle(100%);
			}
		}

		#banner-img-over {
			position: relative;
			clip-path: circle(0%);
			transition: 0.3s ease-out;

			&:hover {
				clip-path: circle(100%);
			}

		}
	}
}

div#content {
	width: $content-width;
	margin: auto;

	#aboutme {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;

		div {
			max-width: 45%;
		}
	}
}

div#footer {
	font-family: fonts.$oxygen-mono;
	color: colours.$primary1;
	width: 100vw;
	text-align: center;
}