@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Oxygen+Mono&family=Staatliches&display=swap"); /* SCSS HEX */ /* Glitch effect */
@keyframes glitch-effect {
  0% {
    top: 5px;
    left: 5px;
  }
  20% {
    top: -3px;
    left: -4px;
  }
  40% {
    top: 2px;
    left: 4px;
  }
  50% {
    top: -1px;
    left: -3px;
  }
  60% {
    top: 2px;
    left: 3px;
  }
  100% {
    top: -5px;
    left: -1px;
  }
}
@keyframes glitch-effect-opp {
  0% {
    top: -5px;
    left: -5px;
  }
  20% {
    top: 3px;
    left: 4px;
  }
  40% {
    top: -2px;
    left: -4px;
  }
  50% {
    top: 1px;
    left: 3px;
  }
  60% {
    top: -2px;
    left: -3px;
  }
  100% {
    top: 5px;
    left: 1px;
  }
}
/* Imports */
/* Variables */
/* Styles */
html,
body {
  background-color: #090923;
  color: #ffe7f3;
  font-family: "DM Sans", sans-serif;
}
html p,
body p {
  line-height: 1.25;
}

nav#navigation {
  z-index: 10;
  top: 0;
  padding-top: 30px;
  position: absolute;
  right: 0;
}
nav#navigation ul {
  display: flex;
  justify-content: flex-end;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav#navigation ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 5vw;
  font-size: 1.75rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
}
nav#navigation ul li.navitem {
  font-family: "Staatliches", cursive;
  transition: all 0.3s;
}
nav#navigation ul li.navitem:hover {
  color: #ad6285;
  transform: translateY(-3px);
  text-decoration-color: #ad6285;
}

div#banner {
  width: 75%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div#banner #banner-left {
  margin: auto 0;
  width: 60%;
}
div#banner #banner-left #intro {
  font-family: "Oxygen Mono", monospace;
  font-size: 1.5rem;
  color: #727292;
  margin: 0;
}
div#banner #banner-left #name-container {
  font-family: "Staatliches", cursive;
  font-size: 6rem;
  color: #ad6285;
  position: relative;
  margin: 10px 0;
}
div#banner #banner-left #name-container:hover > .glitch:nth-of-type(1) {
  animation: glitch-effect 0.75s infinite steps(4);
}
div#banner #banner-left #name-container:hover > .glitch:nth-of-type(2) {
  animation: glitch-effect-opp 0.75s infinite steps(4);
}
div#banner #banner-left #name-container .name {
  margin: 0;
  position: relative;
}
div#banner #banner-left #name-container .name.glitch {
  position: absolute;
  top: 0;
  left: 0;
}
div#banner #banner-left #name-container .name.glitch:nth-of-type(1) {
  color: #2097df;
}
div#banner #banner-left #name-container .name.glitch:nth-of-type(2) {
  color: #df2097;
}
div#banner #banner-left #subtitle {
  font-family: "Staatliches", cursive;
  color: #727292;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}
div#banner #banner-left #icons-container {
  display: flex;
  stroke: #727292;
}
div#banner #banner-left #icons-container .icons {
  cursor: pointer;
  margin-right: 15px;
}
div#banner #banner-left #icons-container .icons:hover {
  stroke: #bd7b99;
}
div#banner #banner-right {
  position: relative;
  width: 450px;
  height: 450px;
}
div#banner #banner-right * {
  width: 100%;
  height: 100%;
}
div#banner #banner-right #banner-img-under {
  position: absolute;
  top: 0;
  left: 0;
}
div#banner #banner-right #banner-img-under:hover ~ #banner-img-over {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
div#banner #banner-right #banner-img-over {
  position: relative;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  transition: 0.3s ease-out;
}
div#banner #banner-right #banner-img-over:hover {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

div#content {
  width: 75%;
  margin: auto;
}
div#content #aboutme {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
div#content #aboutme div {
  max-width: 45%;
}

div#footer {
  font-family: "Oxygen Mono", monospace;
  color: #bd7b99;
  width: 100vw;
  text-align: center;
}/*# sourceMappingURL=style.css.map */