@import './variables.scss';
$bannerEffectDisplacement: 25px;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes imageLayerMiddle {
    from {
        transform: translate(calc(-1* $bannerEffectDisplacement), calc(-1* $bannerEffectDisplacement));
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes imageLayerTop {
    from {
        transform: translate(calc(-1* $bannerEffectDisplacement), calc(-1* $bannerEffectDisplacement));
    }

    to {
        transform: translate(calc($bannerEffectDisplacement), calc($bannerEffectDisplacement));

    }
}

#bannerContainer {
    height: 100vh;
    padding: 0 $contentPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bannerImgContainer {
    position: relative;
    width: 40%;
    // height: auto;
    // TODO: Set width to height after image 
    // height: width;
    margin: $bannerEffectDisplacement;
    opacity: 0;
    animation: $animationDuration ease-out $animationDuration fadeIn forwards;

    .square {
        margin-top: 100%;
    }

    .bannerImgBlock {
        width: 100%;
        border-radius: 5%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(calc(-1* $bannerEffectDisplacement), calc(-1* $bannerEffectDisplacement));

        &.bannerBg1 {
            background-color: $bgLight2;
            box-shadow: 5px 0px 10px $bgShadow;
        }

        &.bannerBg2 {
            background-color: $bgLight;
            box-shadow: 5px 0px 10px $bgShadow;
            animation: $animationDuration ease-out $animationDuration imageLayerMiddle forwards;
        }

        &.bannerImg {
            animation: $animationDuration ease-out $animationDuration imageLayerTop forwards;
            background-color: red;

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5%;
                height: 100%;
                width: 100%;

            }
        }
    }
}

#bannerContent {
    width: 45%;
    font-size: 1.5em;
    opacity: 0;
    transform: translate(calc(-1* $bannerEffectDisplacement), calc(-1* $bannerEffectDisplacement));
    animation: $animationDuration fadeIn, $animationDuration imageLayerMiddle;
    animation-delay: calc($animationDuration*2);
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    * {
        margin: 0;
    }

    span {
        font-family: $oxygen-mono;
    }

    h1 {
        font-size: 3em;
        color: $primary0;
        margin-bottom: 15px;
        line-height: 1em;
        font-family: $staatliches;
    }
}