@import './variables.scss';

#contactContainer {
    display: flex;
    width: 100%;
    font-size: 1.25em;

    @media (max-width: $medium) {
        font-size: 1em;
    }

    @media (max-width: $small) {
        flex-direction: column;
    }
}

#contactLeft {
    width: 55%;
    margin: 0 $contentPadding;
    opacity: 0;
    opacity: 0;
    transform: translate(-5px, -5px);
    transition: all ease-in-out $animationDuration ;

    &.inView {
        transform: translate(0, 0);
        opacity: 1;
    }

    @media (max-width: $small) {
        margin: auto;
        text-align: center;
        width: 80%;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 2.5em;
        margin: 0;
    }

    button {
        width: 150px;
        // background-color: $bgLight;
        background-color: #ffffff00;
        box-shadow: 5px 0px 10px $bgShadow;
        border: 2px $primary1 solid;
        border-radius: 10px;
        color: $primary1;
        font: $staatliches;
        font-size: 1em;
        padding: 10px;
        margin-top: 15px;
        transition: all 0.3s;

        &:hover {
            transform: scale(105%);
            color: $bgLight;
            background-color: $primary1;
        }
    }
}

#contactRight {
    margin-right: $contentPadding;
    display: inline-block;
    width: 30%;
    max-width: 400px;
    opacity: 0;
    transform: translate(-5px, -5px);
    transition: all ease-in-out $animationDuration $animationDuration;

    &.inView {
        transform: translate(0, 0);
        opacity: 1;
    }

    @media (max-width: $small) {
        margin: auto;
        text-align: center;
        width: 80%;

        h2 {
            margin-bottom: 25px;
        }
    }



    h2 {
        font-size: 2.5em;
        margin: 0;
    }

    ul {
        margin: 10px 0;
        list-style: none;
        padding: 0;

        li {
            height: 36px;
            margin-bottom: 10px;
            font-family: $oxygen-mono;
            cursor: pointer;
            vertical-align: bottom;
            transition: all 0.3s;

            a {
                padding-left: 15px;
            }

            &:hover {
                color: $primary1;
                padding-left: 15px;
                font-size: 1.15em;

                @media (max-width: $small) {
                    padding-left: 0;
                }
            }
        }
    }
}