@import './variables.scss';

$navHeight: 48px;
// TODO: Adjust max height
$contentHeight: 36px;
$navItemHeight: calc($contentHeight + 12px);
$navMaxHeight: calc($navItemHeight * 5);
$navSideMargin: 25px;

.navbarContainer {
    z-index: 100;
    background-color: $bgLight;
    width: 100%;
    justify-content: space-between;
    box-shadow: 5px 0px 10px $bgShadow;
    height: $navHeight;
    transition: top 0.2s ease-in;
    position: fixed;
    top: calc(0px - $navHeight);

    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (min-width: $largest) {
        width: $largest;
        
    }
    @media (max-width: $medium) {
        align-items: start;
        transition: all 0.3s;

        &.showCollapsedItem {
            height: $navMaxHeight
        }
    }

    &.show {
        top: 0;
    }

    * {
        margin: 0
    }

    .logo {
        height: $contentHeight;
        line-height: $contentHeight;
        min-width: 150px;
        // margin-left: $navSideMargin;
        margin: 6px 0 6px $navSideMargin
    }

    ul {
        text-align: right;
        // height: $contentHeight;
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        @media (max-width: $medium) {
            display: block;
        }

        li {
            cursor:pointer;
            height: $contentHeight;
            font-size: 1.5em;
            color: $primary0;
            font-family: $staatliches;
            transition: all 0.3s;
            margin-right: 40px;

            &:last-of-type {
                margin-right: $navSideMargin;
            }

            * {
                margin: 0;
                line-height: $contentHeight;
            }

            &:hover, &.touch {
                color: $primary1;
                transform: scale(105%);

            }

            .navListIcon {
                display: none;
                height: 100%;
                text-align: center;
                font-size: 24px;
                margin-top: 6px;

            }

            @media (max-width: $medium) {
                &:not(:first-of-type) {
                    // TODO: transform y value for falldown effect
                    visibility: hidden;
                    opacity: 0;
                    margin-top: 12px;
                }

                &:nth-of-type(2) {
                    transform: translateY(calc(-1 * $navItemHeight));
                }

                &:nth-of-type(3) {
                    transform: translateY(calc(-2 * $navItemHeight));
                }

                &:nth-of-type(4) {
                    transform: translateY(calc(-3 * $navItemHeight));
                }

                &:nth-of-type(5) {
                    transform: translateY(calc(-4 * $navItemHeight));
                }

                &.showCollapsedItem {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);



                }

                .navListIcon {
                    display: inline;
                    cursor: pointer;
                }

                margin-right: $navSideMargin;
            }
        }
    }
}