@import './colours.scss';

.container {
    width: 100%;
    height: 100%;
    animation: fade-in-out 2s ease-in-out 0.3s 1 forwards;
    opacity: 0;

    div {
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: $primary0;
            margin-bottom: 0px;
        }

        p {
            margin-top: 10px;
            color: $primary1;
        }
    }


}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}