//* Fonts *//
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Oxygen+Mono&family=Staatliches&display=swap');
$dm-sans: 'DM Sans', sans-serif;
$oxygen-mono: 'Oxygen Mono', monospace;
$staatliches: 'Staatliches', cursive;

//* SCSS HEX *//
$french-gray: #bfb4b9ff;
$oxford-blue: #090923ff;
$royal-blue-traditional: #08246cff;

// Palette
$bg: #090923;
$bgLight: #1d1d4b;
$bgLight2: #131335;
$bgShadow: #06061b;
$primary0: #ffe7f3;
$primary1: #e485b6;
$secondary0: #727292;
$secondary1: #4c4c74;

//* Breakpoints *//
$small: 576px;
$medium: 758px;
$large: 992px;
$largest: 1200px;

//* Layout *//
$contentPadding: 25px; // TODO: Change padding dynamically?