@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&family=Staatliches&display=swap');

$oxygen: 'Oxygen', sans-serif;
$oxygen-mono: 'Oxygen Mono', monospace;
$staatliches: 'Staatliches', cursive;