@import './styles/variables.scss';

body {
  background-color: $bg;
  color: $primary0;
  font-family: $dm-sans;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  max-width: $largest;
  margin: auto;

  #contentConatiner {

    overflow-y: scroll;
    height: 100vh;

    >* {
      margin-bottom: 50px;
      position: relative;
    }

    $loaderHeight: 50px;

    .fadeInTrigger {
      height: $loaderHeight ;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
    }

    #footer {
      margin-bottom: 0;
    }
  }
}