@import './styles/variables.scss';

body {
  background-color: $bg;
  color: $primary0;
  font-family: $dm-sans;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  max-width: $largest;
  margin:auto;
}